<div class="tool-button-group">
    <!--            开关控制按钮-->
    <button nzType="plus" nzTheme="outline" nz-icon mat-icon-button color="accent"
            [ngClass]="openToolButtonClass" (click)="toolGroupButtonClick('toggle-control')"
            style="font-size: 30px;display: flex;justify-content: center;align-items: center" matTooltip="打开菜单" matTooltipPosition="left">
    </button>
    <!--            功能按钮-->
    <button *ngFor="let item of childViews.slice(1);let index = index" nz-icon [nzType]="item['icon']"
            nzTheme="outline" mat-icon-button class="tool-button" (click)="toolGroupButtonClick(item['name'])"
            [style.animation]="childViews[index + 1]['animationStyle']"
            [matTooltip]="item['description']"
            matTooltipPosition="left"
            style="font-size: 26px;display: flex;justify-content: center;align-items: center">
    </button>
</div>
