.tool-button-group{
    position: fixed;
    bottom: 2%;
    right: 20px;
    z-index: 10;
}
.tool-button-open{
    animation: rotate135 0.5s ease-out forwards;
}
.tool-button-close{
    animation: rotate360 0.5s ease-out forwards;
}

@keyframes rotate135 {
    from{
        transform: rotate(0)
    }
    to {
        transform: rotate(-135deg);
    }
}
@keyframes rotate360 {
    from{
        transform: rotate(-135deg)
    } to {
          transform: rotate(0deg);
      }
}
.tool-button{
    position: fixed;
    visibility: hidden;
    color: #9933ff;
    transition-duration:  1s;
}
.tool-button:hover{
    background-color: #9933ff50;
}
