/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  /*background-color: #fafafa*/
}
@font-face {
  font-family: Hack;
  src: url("assets/fonts/Hack-Regular.ttf");
}
.json-code{
  font-family: Hack, sans-serif;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
#flow-config-edit-dialog.mat-dialog-container{
  /*background-color: #fafafa90;*/
  /*backdrop-filter: blur(3px);*/
}
#flow-config-monaco-editor .monaco-editor{
  background-color: unset;
}
.minimap-slider {
  opacity: 0;
  transition: opacity 100ms linear;
}
