table {
  width: 100%;
}
th.mat-header-cell{
  font-size: 14px;
  font-weight: bolder;
  /*border-bottom: darkgrey solid 1px;*/
  /*background-color: #ffffff50;*/
  /*backdrop-filter: blur(5px);*/
  /*z-index: 100;*/
}
.mat-table-sticky{

}
tr.table-detail-row {
  height: 0;
  border: none;
  width: 100%;

}

tr.element-row:hover {
  background: whitesmoke;
  cursor: pointer;
}
.element-row td{
  border-bottom-width: 0;
}
.table-row-detail {
  overflow: hidden;
  white-space: pre-wrap;
  word-break: break-word;
}

.mat-header-row{
  /*background-color: #9933ff89;*/
}

@supports (backdrop-filter: blur(2px)) {
  .mat-header-row{
    backdrop-filter: blur(5px);
  }
}
button.operation-button{
  margin-right: 20px;
  background-color: darkturquoise;
  color: #fff;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
